<mm-000001 data-mm-id="${1:w001}" checkbox dots icon="$2" id-field="$3" text-field="$4" pid-field="${5:parent}" title-field="$6" icon-field="$7" data='$7' data-mm-action="mmwe-tree-select-node:${8:a001},mmwe-tree-activate-node:${9:a002}"></mm-000001>